doctype html 
html 
    head
        title Aditya Dance Academy Website
            style 
                include ../static/style.css 
    body 
        nav#nav-headings 
            ul 
                div#logo
                    img(src="/static/img/logo.png", alt="")
                    | ADA
                li #[a(href='/') Home]
                li #[a(href='/') About]
                li #[a(href='/') Services]
                li #[a(href='/') Contact Us]
        

        section#introsection 
            div Welcome to Adi's Academy 
            div.small Register Here 
        
        section#missionsection 
            h2 Our Mission 
            div.card
                h3 Dance Perfection
                div.card-img 
            div.card
                h3 Dance as you wish! 
            div.card
                h3 Zumbaa 
        section#sponsorsection 
            h2 Our Sponsors 
            div.sponsors
                img(src="/static/img/img1.jpg", alt="sponsor images" class = "spimage")
                img(src="/static/img/img2.jpg", alt="sponsor images" class = "spimage")
                img(src="/static/img/img3.jpg", alt="sponsor images" class = "spimage")
                img(src="/static/img/img4.jpg", alt="sponsor images" class = "spimage") 
        
        footer#footersection 
            | Copyright &copy AdityaDanceAcademy | All rights reserved 
        script 
            include ../static/script.js
